.suyv-input {
  -moz-appearance: textfield;
  position: fixed;
  z-index: 2021;
  background: #181818;
  border: #181818;
  color: #fff;
  margin-top: -12px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
